<div id="#oauth">
  <div class="explanation">
    The application <strong><%= @client.name %></strong> wished to access your account.
  </div>
  <div class="buttons">
    <div class="cancel">
      <%= form_tag params[:redirect_uri] || '/' do %>
        <div class="field submit">
          <%= submit_tag 'Deny' %>
        </div>
      <% end %>
    </div>
    
    <div class="connect">
      <%= form_tag(:action => :authorize) do %>
        <%= hidden_field_tag "client_id", params[:client_id] %>
        <%= hidden_field_tag "redirect_uri", params[:redirect_uri] %>
        <%= hidden_field_tag "response_type", params[:response_type] %>
        <%= hidden_field_tag "state", params[:state] %>
         
        <div class="field submit">
          <%= submit_tag 'Autoriser' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
